#app {
    height: 100vh;
    overflow-y: auto;
}

/* ----------------header  start---------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 3;
}

.header .logo {
    margin-left: 18px;
}

.header .search-input {
    width: 132px;
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #999;
    margin-left: 5px;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.header .search-input span {
    width: 92px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header .search-input svg {
    margin-left: 10px;
}

.header .avatar svg {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header .download-app {
    width: 78px;
    height: 24px;
    margin-right: 12px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    background-color: #fb7299;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ----------------header  end---------------- */




/* ----------------nav  start---------------- */

.nav-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 55px;
    z-index: 1;
    background-color: #fff;
    /* cursor: pointer */
}

.nav-box .nav-list {
    width: 85%;
    padding-left: 24px;
    white-space: nowrap;
    overflow-x: auto;
}

.nav-box .nav-list::-webkit-scrollbar {
    display: none;
}

.nav-box .nav-list .nav {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 40px;
    color: #757575;
    font-size: 14px;
    border-bottom: 2px solid transparent;
}

.nav-box .nav-list .nav.nav-active {
    color: #fb7299;
    border-bottom-color: #fb7299;
}

.nav-box .down {
    position: absolute;
    top: -3px;
    right: 13px;
}

.hide-nav-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 55px;
    background-color: #fff;
    z-index: 2;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    /* cursor: pointer; */
}

.hide-nav-box.hide {
    top: -110px;
}


.hide-nav-box .nav-list .nav {
    display: inline-block;
    width: 32px;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    color: #757575;
    border-bottom: 2px solid transparent;
}


.hide-nav-box .nav-list .nav.big {
    width: 46px;
    margin-left: 9px;
    margin-right: 9px;
}

.hide-nav-box .nav-list .nav.nav-active {
    border-color: #fb7299;
    color: #fb7299;
}

.hide-nav-box .down {
    text-align: center;
    height: 16px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/* ----------------nav  end---------------- */

/* ----------------banner  start---------------- */
.banner-box {
    position: relative;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 110px;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.banner-box .banner-list {
    position: absolute;
    width: calc(350px * 4);
    transition: left .3s linear;
    -webkit-transition: left .3s linear;
    -moz-transition: left .3s linear;
    -ms-transition: left .3s linear;
    -o-transition: left .3s linear;
}

.banner-box .banner-list .banner {
    width: 350px;
    height: 110px;
    float: left;
}

.banner-box .banner-list .banner .poster {
    width: 100%;
    height: 100%;
}

.banner-box .index-list {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    background-color: rgba(0, 0, 0, .5);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.banner-box .index-list .index {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.banner-box .index-list .index.index-active {
    background-color: #fb7299;
}

/* ----------------banner  end---------------- */


/* ----------------video  start---------------- */

.video-box {
    padding-top: 100px;
    padding-left: 6px;
    padding-right: 6px;
}

.video-box .video-list {
    zoom: 1;
}

.video-box .video-list::before,
.video-box .video-list::after {
    display: table;
    content: "";
    clear: both;
}

.video-box .video-list .video {
    width: 50%;
    float: left;
}

.video-box .video-list .video .poster {
    position: relative;
    height: 106px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.video-box .poster img {
    width: 100%;
    height: 100%;
}

.video-box .poster .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 10px;
    color: #fff;
    font-size: 12px;
    background: linear-gradient(rgba(33, 33, 3, 0), rgba(33, 33, 33, .5));
}

.video-box .poster .info div {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.video-box .poster .info svg {
    margin-right: 3px;
    width: 14px;
    height: 14px;
    fill: #fff;
}

.video-box .title {
    margin: 6px 6px 10px 6px;
    line-height: 20px;
    font-size: 13px;
    /* 多行文本溢出显示... */
    height: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* ----------------video  end---------------- */

/* ----------------footer  start---------------- */
.footer {
    margin-top: 20px;
}

.footer p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #999;
}

/* ----------------footer  end---------------- */